.clang-format
.clangd
b__*
gpsauto.cgpr
*.stderr
*.stdout
*.ali
*.o
*.bexch
*.iso
*.zst
*.zst.sig
*.pkg.tar.xz
*.pkg.tar.xz.sig
*-orig

applet/installer/build
applet/aur_builder
library/build

install_laceOS

attic