[Desktop Entry]
Version=1.0
Type=Link
Name=Awesome Ada
Comment=Comprehensive Ada  website.
Icon=ada-mascot-icon
URL=https://github.com/ohenley/awesome-ada/blob/master/README.md
