[Desktop Entry]
Version=1.0
Type=Link
Name=Awesome Ada
Comment=Comprehensive Ada Website.
Icon=awesome-ada
URL=https://www.opensourceagenda.com/projects/awesome-ada
