[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rod/Desktop/passwords]
row=1
col=35

[/home/rod/Desktop/raven]
row=2
col=0

[/home/rod/Desktop/gnatstudio-gnatstudio-cr-20220512]
row=1
col=8

[/home/rod/Desktop/gnatstudio-23.0w-20220512-x86_64-linux-bin.tar.gz]
row=2
col=6

[/home/rod/Desktop/gnatstudio-sources-x86_64-linux.tar.gz]
row=2
col=7

[/home/rod/Desktop/new_box]
row=1
col=34

[/home/rod/Desktop/gnatstudio-23.0w-20220512-x86_64-linux-bin]
row=1
col=6

[/home/rod/Desktop/gnatstudio-cr-20220512.tar.gz]
row=2
col=8

[/home/rod/Desktop/car]
row=2
col=34

[/home/rod/Desktop/vlc.xspf]
row=19
col=0

[/home/rod/Desktop/gnatstudio-sources-x86_64-linux]
row=1
col=7

[Rubbish]
row=19
col=35

[/]
row=1
col=1

[/home/rod]
row=1
col=0

