[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rod/Desktop/Wiktionary.desktop]
row=5
col=0

[/home/rod/Desktop/Awesome Ada.desktop]
row=3
col=0

[/home/rod/Desktop/sandbox]
row=1
col=1

[/home/rod/Desktop/study]
row=1
col=0

[/home/rod/Desktop/Wikipedia.desktop]
row=4
col=0

[Rubbish]
row=9
col=17

[/]
row=0
col=0

[/home/rod]
row=0
col=1