Use_Label=true
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(255,79,0)
Color_Out=rgb(255,229,0)
Text=net
Network_Device=enp1s0
Max_In=2560000
Max_Out=256000
Auto_Max=false
Update_Interval=250
Values_As_Bits=false

