[General]
Show_Labels=false
Show_Colored_Bars=false
Use_Bar_UI=2
Update_Interval=1
Preferred_Height=407
Number_Chips=3

[Chip0]
Name=atk0110-0
Number=0

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature0]
Address=0
Name=Core 0
Color=#00B000
Show=true
Min=40
Max=100

[Chip1_Feature1]
Address=1
Name=Core 1
Color=#00B000
Show=true
Min=40
Max=100

[Chip1_Feature2]
Address=2
Name=Core 2
Color=#00B000
Show=true
Min=40
Max=100

[Chip1_Feature3]
Address=3
Name=Core 8
Color=#00B000
Show=true
Min=40
Max=100

[Chip1_Feature4]
Address=4
Name=Core 9
Color=#00B000
Show=true
Min=40
Max=100

[Chip1_Feature5]
Address=5
Name=Core 10
Color=#00B000
Show=true
Min=40
Max=100

[Chip2]
Name=ACPI
Number=2

