[Desktop Entry]
Version=1.0
Type=Application
Name=Install laceOS
Comment=
Exec=/usr/local/bin/install_laceOS
Icon=ada-mascot-icon.png
Path=/root
Terminal=true
StartupNotify=false
