[General]
Show_Labels=false
Show_Colored_Bars=false
Show_Units=false
Use_Bar_UI=2
Update_Interval=1
Preferred_Width=1407
Preferred_Height=1228
Number_Chips=3

[Chip0]
Name=atk0110-0
Number=0

[Chip0_Feature19]
Address=19
Name=CPU Temperature
Color=#00B000
Show=true
Min=30
Max=100

[Chip0_Feature20]
Address=20
Name=MB Temperature
Color=#00B000
Show=true
Min=30
Max=60

[Chip0_Feature21]
Address=21
Name=SB Temperature
Color=#00B000
Show=true
Min=60
Max=80

[Chip0_Feature22]
Address=22
Name=NB Temperature
Color=#00B000
Show=true
Min=60
Max=80

[Chip1]
Name=coretemp-0
Number=1

[Chip2]
Name=ACPI
Number=2

